@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Moul&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
#description{
    font-family: 'Bebas Neue';
    word-spacing: 1px;
    
}
#Changetowhite-btn{
    display: none;
}
#hiddenmenu{
    transition:.7s;
}
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: var(--name-color) transparent transparent transparent;
}